@font-face {
  font-family: "Tajawal";
  font-weight: 300;
  src: url("./assets/fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Tajawal";
  font-weight: 400;
  src: url("./assets/fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tajawal";
  font-weight: 500;
  src: url("./assets/fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Tajawal";
  font-weight: 600;
  src: url("./assets/fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Tajawal";
  font-weight: 700;
  src: url("./assets/fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("./assets/fonts/Inter/static/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./assets/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("./assets/fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
